
@{
    ViewBag.Title = "ManageProjects";
}

<h2>ManageProjects</h2>

<h2>This is where I would have controls that allowed me to Assign Users to Projects</h2>

@Html.ActionLink("Back To Dashboard", "Dashboard", "Home")